<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>


<div class="container">
    <div class="row">
        <h1>About Us</h1>
        <header class="mb-3">
            <!-- As a link -->
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Home</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/about">About </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div class="row">
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Nibh praesent tristique magna sit amet purus. At tempor commodo ullamcorper a
                lacus. Arcu odio ut sem nulla pharetra diam sit. Imperdiet sed euismod nisi porta lorem. Mi bibendum
                neque egestas congue quisque egestas diam in arcu. Faucibus et molestie ac feugiat. Sed blandit libero
                volutpat sed. Malesuada fames ac turpis egestas maecenas. Quis viverra nibh cras pulvinar mattis nunc.
                Neque convallis a cras semper. Egestas pretium aenean pharetra magna ac placerat vestibulum. Mattis
                vulputate enim nulla aliquet. Non odio euismod lacinia at quis risus sed vulputate odio. Sit amet est
                placerat in egestas. Nulla facilisi nullam vehicula ipsum a arcu cursus. Non nisi est sit amet.
                Fermentum et sollicitudin ac orci phasellus egestas tellus. Quis auctor elit sed vulputate mi sit.
            </p>
            <p>
                Augue neque gravida in fermentum et sollicitudin. Id faucibus nisl tincidunt eget nullam non nisi est
                sit. Eget mauris pharetra et ultrices neque ornare aenean euismod. Diam maecenas ultricies mi eget. At
                volutpat diam ut venenatis. Viverra justo nec ultrices dui sapien eget mi proin sed. Mi in nulla posuere
                sollicitudin aliquam ultrices sagittis orci a. Id faucibus nisl tincidunt eget nullam non nisi est. Sed
                pulvinar proin gravida hendrerit lectus a. Suscipit adipiscing bibendum est ultricies integer quis
                auctor elit. Curabitur vitae nunc sed velit. Mattis aliquam faucibus purus in massa.
            </p>
            </p> Pretium fusce id velit ut tortor. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque.
            Venenatis
            cras sed felis eget. Purus in mollis nunc sed. Elit ut aliquam purus sit amet luctus venenatis.
            Facilisis volutpat est velit egestas. Amet risus nullam eget felis eget. Quis risus sed vulputate odio
            ut enim blandit volutpat maecenas. Egestas dui id ornare arcu. Sociis natoque penatibus et magnis dis
            parturient montes nascetur. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Facilisis
            gravida neque convallis a cras semper. Nunc id cursus metus aliquam eleifend mi in. In dictum non
            consectetur a. Senectus et netus et malesuada fames ac. Lacinia at quis risus sed vulputate odio. Congue
            eu consequat ac felis. Enim sit amet venenatis urna cursus. Nulla aliquet porttitor lacus luctus.</p>
        </div>
        <div class="col">
            <div class="row mb-3">
                <img src="..." class="img-fluid" alt="Image 1">
            </div>
            <div class="row mb-3">
                <img src="..." class="img-fluid" alt="Image 2">
            </div>
            <div class="row mb-3">
                <img src="..." class="img-fluid" alt="Image 3">
            </div>
        </div>
    </div>

</div>
</body>
</html>
